.cart h3 {
  font-style: oblique;
  color: var(--color1);
}
.cart-filled h1 {
  font-style: oblique;
  color: var(--color1);
  margin: 1rem;
}
.cart .cart-empty p {
  font-size: 2rem;
  font-style: oblique;
  color: var(--color1);
  padding-top: 2rem;
}
.cart .cart-empty button {
  background-color: var(--color1);
  border-radius: 20px;
  color: var(--color6);
  padding: 0.5rem;
}
.cart-card-item {
  margin: 1.5rem;
}
.cart-card-item h3 {
  font-style: oblique;
  color: var(--color1);
  margin: 1rem;
}
.cart-card-item button {
  background-color: var(--color1);
  color: var(--color6);
  border-radius: 5px;
  margin: 2px;
}
