li{
   list-style: none;
}
.home-content{
        display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.home-content li{
    border: 2px solid #880D1E;
    border-radius:5rem 0px ;
    margin: 50px;
    padding: 1rem;
}

.home-content h3{
    border: 1px solid #F26A8D;
    display: inline-block;
    padding: 1rem;
    background-color: #F49CBB;
    border-radius: 10px;
    color:#880D1E
}

button{
    background-color: #F49CBB;
    padding: 15px;
    border-radius: 8px;
}

.shop-btn{
    margin: 2rem 2rem 0rem 4rem;
}