footer {
  margin-top: 2rem;
  background-color: var(--color0);
  left: 0;
  bottom: 0;
   width: 100%;
   height: 26%;
}

footer .footer-logo-link{
text-decoration: none;
color: var(--color5);
font-style: oblique;
}
footer .footer-logo-link h1{
  padding: 1rem 0rem 0rem 0rem ;
}

footer i {
  color: var(--color6);
}

.facilities {
  display: flex;
  justify-content: space-evenly;

  text-align: center;
  flex-wrap: wrap;
}

.facilities div {
  width: 40%;
  color: var(--color6);
}

.facilities div:last-child {
  width: 100%;
  font-size: 18px;
}

.facilities .facilities-icon {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 50px;
}
/* .social-links i{
  width: 2rem;
} */

.copyright {
  background-color: var(--dark-purple);
  color: var(--color6);
  text-align: center;
  font-size: 12px;
  padding: 0.8rem;
}

.copyright div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.copyright div a {
  color: var(--color6);
  text-decoration: none;
}

.shopnow-btn {
  text-decoration: none;
  color: var(--color6);
}

.social-links i{
  color: var(--color6);
}

@media (min-width: 768px) {
  .sales {
    height: 40vh;
  }
  .sales-content p {
    font-size: 28px;
  }
  .offer-text {
    font-size: 18px;
  }
  .input-container {
    justify-content: center;
  }
  .facilities div {
    width: 10%;
  }

  .facilities div:last-child {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .facilities div:last-child div {
    display: flex;
    flex-direction: row;
  }

  .copyright {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .sales {
    height: 60vh;
  }
  .sales-content p {
    font-size: 32px;
  }
  .offer-text {
    font-size: 22px;
  }
  .input-container {
    justify-content: space-between;
  }
}



/* footer{
    background-color: #880D1E;
  padding: 20px;
  text-align: center;
  
}

.footer-logo NavLink{
  width: 50px; 
  text-decoration: none;
  color: white;
}
.footer-link {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  fill: #666;
  transition: fill 0.3s ease;
  text-decoration: none;
  color: white;
} */