
:root{
  --color0:#34373a;
  --color1:#495867;
  --color2:#C18C5D;
  --color3:#CE796B;
  --color4:#E7AD99;
  --color5:#ECC8AF;
  --color6:#e9d2c2;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22201c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--color6);
  background-image: url("");
}

.navbar{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--color1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
  border-bottom: 5px solid var(--color0);
}
 .navlink{
  text-decoration: none;
  color: var(--color5);
}
.navlink h1{
  font-style: oblique;
  font-size: 2rem;
}
.right-nav-content{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  text-decoration: none;
  padding: 2rem 0.5rem;
}
.right-nav-content .navlink i{
  text-decoration: none;
  color: var(--color5);
  font-size: 20px;
}